# ============================
# Docker
# ============================

*.log
*.pid

# ============================
# Prometheus TSDB
# ============================

data/

prometheus-a/data/
prometheus-b/data/
prometheus-c/data/

# ============================
# Grafana
# ============================

grafana/data/

# ============================
# MinIO
# ============================

minio/data/

# ============================
# OS
# ============================

.DS_Store
Thumbs.db

# ============================
# IDE
# ============================

.vscode/
.idea/